/* ESTILOS BÁSICOS Y RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

h1 {
    font-size: 35px;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2;
}

p {
    font-size: 20px;
    margin: 10px 0;
}

/* CLASES UTILITARIAS */
.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* BARRA DE NAVEGACIÓN */
.navbar {
    background-color: purple;
    height: 70px;
}

.navbar .logo {
    font-weight: 300;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 9px;
    margin: 0 10px;
}

.navbar a:hover {
    color: #9867C5;
    border-bottom: 3px solid #9867C5;
}

/* SHOWCASE (GRID) */
.showcase {
    height: 400px;
    background-color: purple;
    padding-top: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 20px;
}

.showcase-form {
    margin-top: 20px;
}

.showcase input[type='email'] {
    padding: 12px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    width: 250px;
}

.btn {
    border-radius: 6px;
    padding: 12px 20px;
    background: #9867C5;
    border: none;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    transform: scale(0.98);
}

.little-info {
    font-size: 14px;
    margin-top: 10px;
}

/* ESTADÍSTICAS */
.lower-container {
    color: black;
    margin-top: 100px;
    text-align: center;
}

.stat {
    padding: 20px;
    flex: 1;
}

.stat i {
    color: purple;
    margin-bottom: 10px;
}

/* RESPONSIVIDAD (Media Queries) */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; /* Una sola columna en móviles */
    }

    .showcase {
        height: auto;
        padding-bottom: 50px;
    }

    .navbar .flex {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .navbar ul {
        margin-top: 10px;
    }
}